.shell {
	min-width: 600px;
	min-height: 100vh;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: 800px;
	padding: 20px 10px;
}

.header {
	margin-bottom: 30px;
}

.screen {
	height: 60px;
	border: solid 10px #000;
	border-color: #000 transparent transparent transparent;
	border-radius: 50%/50px 50px 0 0;
	text-align: center;
}

.reset {
	padding: 6px;
	color: #5754ff;
	cursor: pointer;
}

.reset:hover {
	color: #007f16;
	text-shadow: 0px 4px 20px #9fff6e;
}
